.wb-reel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-light) var(--color-dark);
}

.wb-reel > * {
  flex: 0 0 var(--item-width);
}

.wb-reel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.wb-reel::-webkit-scrollbar {
  height: 1rem;
}

.wb-reel::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

.wb-reel::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  background-image: linear-gradient(
    var(--color-dark) 0,
    var(--color-dark) 0.25rem,
    var(--color-light) 0.25rem,
    var(--color-light) 0.75rem,
    var(--color-dark) 0.75rem
  );
}
