/* Fonts */
@import url("lib/fonts.css");

/* Modular scale, colors, etc. */
@import url("lib/variables.css");
@import url("lib/gc-design-system-variable-proposal.css");

/* Components */
@import url("layouts/wb-image.css");
@import url("layouts/wb-text.css");
@import url("layouts/wb-words.css");
@import url("layouts/wb-shrinkgrow.css");
@import url("layouts/wb-switcher.css");
@import url("layouts/wb-center.css");
@import url("layouts/wb-cover.css");
@import url("layouts/wb-stack.css");
@import url("layouts/wb-box.css");
@import url("layouts/wb-grid.css");
@import url("layouts/wb-sidebar.css");
@import url("layouts/wb-cluster.css");
@import url("layouts/wb-frame.css");
@import url("layouts/wb-reel.css");

/* Utility classes */
@import url("lib/helpers.css");

:root {
  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: inherit;
  font: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
}

/* Hidden content */

[hidden] {
  display: none;
}

[hidden] + * {
  margin-top: 0 !important;
}

/* For older browsers */
nav,
main,
header,
footer {
  display: block;
}

/* Smooth scrolling */

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* Buttons and links */

:focus {
  outline: var(--border-thin) solid var(--color-mid);
  outline-offset: var(--border-thin);
}

[tabindex="-1"]:focus {
  outline: none;
}

button,
.cta {
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  font-family: var(--font-special);
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: var(--s-1) var(--s2);
  border-width: var(--border-thin);
}

.cta {
  background-color: transparent;
  color: var(--color-dark);
}

.cta--big {
  display: block;
  font-size: var(--s2);
  text-align: center;
  text-decoration: none;
}

.cta--big span {
  text-decoration: underline;
}

[href="#main"] {
  display: inline-block;
  padding: var(--s-1);
  color: var(--color-light);
  background-color: var(--color-dark);
  position: absolute;
  top: -10rem;
}

[href="#main"]:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  outline: none;
}

/* Media */

img {
  width: 100%;
}

figure,
[role="figure"] {
  text-align: center;
}

figcaption,
.figcaption {
  margin-top: var(--s-1);
  font-size: var(--s-1);
}

/* noscript */

noscript {
  padding: var(--s-1);
  background-color: var(--color-lightish);
}

/* Keyboard styles */

kbd {
  line-height: 1;
  font-size: var(--s-1);
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 0.125em 0.5em;
  border-radius: 0.125em;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
}

table code {
  white-space: nowrap;
}

th,
td {
  border-width: var(--border-thin);
  padding: var(--s-1);
  text-align: left;
}

td:first-child {
  font-weight: bold;
}

/* Typography */

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
  font-family: var(--font-special);
  font-weight: 700;
  hyphens: auto;
}

h1,
.h1 {
  font-size: var(--s4);
}
h2,
.h2 {
  font-size: var(--s3);
}
h3,
.h3 {
  font-size: var(--s2);
}
h4,
.h4 {
  font-size: var(--s1);
}

main > ol,
main > ul,
aside > ol,
aside > ul {
  padding-left: 2em;
}

main > * + * {
  margin-top: var(--s3);
}

main p + p {
  margin-top: var(--s-1);
}

hr {
  padding: var(--border-thin) 0 0;
  border-width: var(--border-thin) 0;
}

/* High contrast mode fixes */
button,
pre {
  outline: var(--border-thin) solid transparent;
  outline-offset: calc(var(--border-thin) * -1);
}

/* Navigation */

@media (max-width: 827px) {
  .with-js .docs-nav-toggle {
    display: block;
  }

  .with-js .docs-nav {
    display: none;
  }

  [aria-expanded="true"] + .docs-nav {
    display: block;
  }
}

.docs-nav {
  text-align: center;
  margin-top: var(--s0);
}

.docs-nav ul {
  list-style: none;
}

.docs-nav li + li {
  margin-top: var(--s-2);
}

.docs-nav h2 {
  font-size: var(--s2);
  text-transform: uppercase;
  line-height: var(--line-height);
}

.docs-nav * + h2 {
  margin-top: var(--s2);
}

.docs-nav * + * {
  margin-top: var(--s-3);
}

.docs-nav a {
  display: inline-block;
  line-height: var(--line-height-small);
  font-weight: 700;
  text-decoration: none;
}

.docs-nav a:not([aria-current="true"]):hover {
  text-decoration: underline;
}

.docs-nav [aria-current="true"] {
  position: relative;
  text-indent: -1em; /* compensates for icon */
}

/* Component page layout */
main > *,
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
}

main > style {
  display: none;
}

script {
  display: none;
}

footer::before {
  content: "\220e";
  display: block;
  padding-bottom: var(--s-1);
}

/* forms */

label {
  font-weight: bold;
}

label,
label small {
  display: block;
}

label small {
  font-weight: normal;
  font-style: italic;
}

input,
[type="checkbox"] ~ svg,
.card-container,
textarea {
  box-shadow: inset 0.25rem 0.25rem 0 #ddd;
}

[type="text"],
[type="email"],
.card-container,
textarea {
  width: 100%;
  font-size: inherit;
  border-width: var(--border-thin);
  padding: var(--s-1);
}

[type="checkbox"] ~ svg {
  stroke: transparent;
  border-width: var(--border-thin);
  vertical-align: middle;
  padding: 2px;
  box-sizing: content-box;
}

[type="checkbox"]:checked ~ svg {
  stroke: currentColor;
}

[type="checkbox"]:focus ~ svg {
  outline: var(--border-thin) solid var(--color-mid);
}

input:focus,
textarea:focus {
  outline-offset: 0;
}

form > * + * {
  margin-top: var(--s1);
}

/* Loader element */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--s5) var(--s0);
  position: absolute;
  background: hsla(0, 0%, 98%, 0.95);
  font-weight: bold;
  z-index: 1;
}

/* Checkout form */
.checkout-form {
  position: relative;
}
